@import "./custom_bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  background: url("./img/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 5rem;
  font-family: "Karla", sans-serif;
}
#project-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  #project-title {
    font-size: 1.25rem;
  }
}
