$theme-colors: (
  "success": #0037e0,
  "secondary": #abafb3,
  "warning": #163fab
);
@import "./custom_bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  background: url("./img/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 5rem;
  font-family: "Karla", sans-serif;
}
#project-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}
#update-form {
  width: 70%;
  margin: auto;
}
#filter-ingredients {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  #stylish-checkbox {
    margin-left: 1.67rem;
  }
}
@media (max-width: 576px) {
  #update-form {
    width: 90%;
  }
  #filter-ingredients {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #project-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 576px) {
  #inlineFormInputName2 {
    width: 50%;
  }
}
